label {
	display: inline;
}

.regular-checkbox {
	display: none;
}

.regular-checkbox + label {
	background-color: #fff;
	border: 1px solid #e5e5e5;
	padding: 9px;
	border-radius: 3px;
	display: inline-block;
	position: relative;
	float:left;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
}
.regular-checkbox:checked + label {
	background-color: #f77575;
	border: 1px solid #f77575;
	color: #fff;
}

.regular-checkbox:checked + label:after {
	content: '\2714';
	font-size: 14px;
	position: absolute;
	top: 0px;
	left: 3px;
	color: #fff;
}




/* RADIO */

.regular-radio {
	display: none;
}

.regular-radio + label {
	-webkit-appearance: none;
	border-radius: 50px;
	display: inline-block;
	position: relative;
	background:url(../images/sy_4zc_4wxz.png) no-repeat center;
	background-size:contain;
	width:0.48rem;
	height: 0.48rem;
	float:left;
}

.regular-radio:checked + label:after {
	content: ' ';
	width:0.48rem;
	height: 0.48rem;
	border-radius: 50px;
	position: absolute;
	top: 0px;
	background:url(../images/sy_4zc_4xz.png) no-repeat center;
	background-size:contain;
	left: 0px;
	font-size: 32px;
}

.regular-radio:checked + label {
	background:url(../images/wx.png) no-repeat center;
	background-size:contain;
}

.regular-radio + label:active, .regular-radio:checked + label:active {
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}



